.custom-logo{
    max-width: 250px;
    height: auto;
}

.site-footer {
    background-color: #1b1b1b;
}

.footer-logo{
    img{
        max-width: 280px;
        display: block;
        margin: 0 auto;
    }
}

.list-inline-item{
    a{
        width: 50px;
        display: block;
        font-size: 1.3rem;
        padding: 10px;
        color: white;
        background: #0D0D0D;
        border-radius: 5px;
    }
}