$default-color: #222222;
$primary-color: var(--primary-color);
$primary-hover-color: var(--accent-color);
$secondary-color: var(--secondary-color);
$primary-light-color: var(--primary-light-color);
$secondary-light-color: var(--secondary-light-color);